body {
    margin: 0;
    padding: 0;
    background-image: url("../images/394b3811-e16f-41c8-be2f-75a6879246c9.png");
    background-size: cover;      /* ocupa toda la pantalla */
    background-position: center; /* centrada */
    background-repeat: no-repeat;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    height: 100vh;
    position: relative;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #a855f7;
}

.logo span {
    color: white;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu li {
    cursor: pointer;
    transition: 0.3s;
}

.menu li:hover {
    color: #a855f7;
}

.hero {
    position: relative;
    height: 100%;
    color: cyan;
}

.left {
    position: absolute;
    left: 50px;
}

.right {
    position: absolute;
    right: 50px;
}

.top {
    top: 35%;
}

.bottom {
    bottom: 25%;
}

.texto {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: cyan;
    padding: 0 20px;
}

.menu li {
    cursor: pointer;
    position: relative;
}

.menu li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: white; 
    transition: 0.3s;
}

.menu li:hover::after {
    width: 100%;
}

.menu li:last-child {
    font-weight: bold;
}

.menu li:last-child::after {
    display: none;
}
